<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuQZdbt0yo-uA4zuZqjIA_YtrDnqJOGxY</string>
	<key>GCM_SENDER_ID</key>
	<string>825293518438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>backfront.AppBackFrontJenifer</string>
	<key>PROJECT_ID</key>
	<string>app-bf-nft</string>
	<key>STORAGE_BUCKET</key>
	<string>app-bf-nft.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825293518438:ios:b36b61329f02340e1c1fa7</string>
</dict>
</plist>